/app/config/production/database.php
/app/config/development/database.php
/app/config/database.php
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
*.swp
